[submodule "coneg-panel"]
	path = coneg-panel
	url = git@github.com:marcosatsf/coneg-panel.git
[submodule "coneg-panel-api"]
	path = coneg-panel-api
	url = git@github.com:marcosatsf/coneg-panel-api.git
[submodule "coneg-insp-api"]
	path = coneg-insp-api
	url = git@github.com:marcosatsf/coneg-insp-api.git
[submodule "coneg-inspetint"]
	path = coneg-inspetint
	url = git@github.com:marcosatsf/coneg-inspetint.git
[submodule "coneg-scheduler"]
	path = coneg-scheduler
	url = git@github.com:marcosatsf/coneg-scheduler.git
[submodule "coneg-panel-user"]
	path = coneg-panel-user
	url = git@github.com:marcosatsf/coneg-panel-user.git
